<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
  	<parameter name ="sUsername" value="lalitha"/>
  	<parameter name ="sPassword" value="password123"/>
    <classes>
      <class name="com.acc.selenium_practice.testme2_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
